player-connection-mode=Listen
player-connection-guid=1381356384
player-connection-debug=0
player-connection-project-name=BattlerWorld
player-connection-ip=192.168.1.41
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0c2099341dc941819116e058d119c925
